<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.placeholder_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Placeholder_Project">
        <activity
            android:name=".SportsDiary.ActivityDetails"
            android:exported="false" />
        <activity
            android:name=".SportsDiary.ActivityInspection"
            android:exported="false" />
        <activity
            android:name=".BreathingExcercise"
            android:exported="false" />
        <activity
            android:name=".FoodDiary"
            android:exported="false" />
        <activity
            android:name=".SportsDiary.SportsDiary"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>